.content
  .page-header
    %h1
      Timonin
    %small Небольшой сайт
    .post-button
    =link_to 'Написать', new_admin_post_path, class: "btn btn-xs btn-primary" if current_user.try(:admin?)
  .row
    - @posts.each do |post|
      %h2= link_to post.title, post_path(post)
      = post.body
    %br
    = paginate @posts
  .row
    %h1
      Reserved for photoes
