defaults: &defaults
  pool: 5
  adapter: postgresql
  timeout: 5000
  host: localhost
  <<: *<%= ENV['DB'] || "postgresql" %>

  postgresql: &postgresql
  adapter: postgresql
  username: postgres
  password:
  database: timonin_<%= Rails.env %>
  min_messages: ERROR


development:
  adapter: postgresql
  encoding: utf8
  database: timonin_<%= Rails.env %>
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: utf8
  database: timonin_<%= Rails.env %>
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: utf8
  database: timonin
  username: dbuser
