/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require twitter/bootstrap
 *= require font-awesome
 */

 body {
  padding-top: 60px;
 }

$light-gray: #4f4848;
$white: #fefefe;

/* button closure modal window */
.modal .close {
  color: $light-gray;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  top: 0;
}

/* adaptive image in a modal box */
.modal-image {
  height: 870px;
  width: 860px;
}

.modal-content {
  height: 900px;
  width: 893px;
  border-radius: 5px;
}

.modal-dialog {
  background: $white;
  width: 750px;
  border-radius: 5px;
}

.modal-body {
  padding: 19px;
  height: 776px;
  width: 666px;
}
