.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, :class => 'navbar-brand' do
        .fa.fa-yelp>
        Timonin
    #navbar-collapse.navbar-collapse.collapse
      %p.navbar-text.pull-right
        - if user_signed_in?
          = link_to "Выйти", destroy_user_session_path, :method => :delete
        - else
          = link_to "Войти", new_user_session_path
        = link_to "Регистрация", new_user_registration_path
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} О проекте
